<ion-header>
  <ion-toolbar>
    <ion-title>PCallR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid justify-content-center align-items-center>
    <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card text-center padding >
          <ion-img  style="height: 25em; padding-top: 25px;" src="assets/icon/logo.png"></ion-img>
          </ion-card>
          <ion-button expand="block" shape="round" color="primary">Register</ion-button>
          <ion-button expand="block" shape="round" color="primary">Login</ion-button>
        </ion-col>      
    </ion-row>
    <ion-row></ion-row>
  </ion-grid>
      

</ion-content>
