ion-card{
    position: center;
height: 120px;
width: 500px;
border-radius: 20px;

transform: rotate(0.04deg);
background: #DEFFE5;
}

ion-img{
    border-radius: 57px;
    height: 250px;
    padding-top: 25px;
}