<ion-header>
  <ion-toolbar>
    <ion-title>PCR Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/icon/Pcr.webp"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card>
    <ion-card-content>
      Pemeriksaan Swab Test – PCR<br>
      Swab dan PCR tak terpisahkan dalam metode tes untuk menegakkan diagnosis Covid-19.<br>
      Swab adalah cara untuk memperoleh bahan pemeriksaan ( sampel ).<br>
      Swab dilakukan pada nasofaring dan atau orofarings.<br>
      Pengambilan ini dilakukan dengan cara mengusap rongga nasofarings  dan atau orofarings dengan menggunakan alat seperti  kapas lidi khusus.<br>
      Adapun PCR adalah singkatan dari polymerase chain reaction.<br>
      PCR merupakan metode pemeriksaan virus SARS Co-2 dengan mendeteksi DNA virus.<br>
      Uji ini akan  didapatkan hasil apakah seseorang positif atau tidak SARS Co-2.<br>
      Dibanding rapid test, pemeriksaan RT-PCR lebih akurat.<br>
      Metode ini jugalah yang direkomendasikan WHO untuk mendeteksi Covid-19.<br>
      Namun akurasi ini dibarengi dengan kerumitan proses dan harga alat yang lebih tinggi.<br>
      Selain itu, proses untuk mengetahui hasilnya lebih lama ketimbang rapid test.<br>
    </ion-card-content>
  </ion-card>

</ion-content>
