<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Register Step 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid justify-content-center align-items-center>
    <ion-row>
       <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card color="primary" text-center padding >
          <ion-img  style="height: 10em; " src="assets/icon/logo.png"></ion-img>
         </ion-card>
        <form   #form="ngForm" (ngSubmit)="onSubmit(form)"class="list-form">
          <ion-item>
            <ion-label floating>
              Nama
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              Email
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              Password
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              Nomor Telephone
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </form>      

        <ion-button expand="block" shape="round" color="primary">Next</ion-button>
       </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
