<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
        <ion-icon slot="icon-only" name="arrow-back" defaultHref="/home/tabs/main"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rumah Sakit</ion-label>
        <ion-input type="text" ngModel name="rumashsakit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tanggal</ion-label>
        <ion-input type="text" ngModel name="tanggal"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Waktu</ion-label>
        <ion-input type="text" ngModel name="waktu"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Foto KTP</ion-label>
        <div class="container">
          <img src="{{imgURL}}" height="200" width="200"/>
          <ion-row>
          <ion-button (click)="getCamera()">From Camera</ion-button>
          <ion-button (click)="getGallery()">From Gallery</ion-button>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block">BOOKING</ion-button>
  </form>


</ion-content>
