ion-card{
    position: center;
    height: 52.38854452650933px;
    width: 343.0000153939617px;
    left: 43.0350341796875px;
    top: 20px;
    border-radius: 79px;

    border-radius: 20px;
    
    transform: rotate(0.04deg);
    background: #DEFFE5;
    }
    
ion-img{
        border-radius: 57px;
        height: 250px;
        padding-top: 25px;
}

button{

        height: 31px;
        width: 142px;
        left: 236px;
        top: 800px;
        border-radius: 20px;
    
        background: #ADFD87;
        border: 2px solid #000000;
        box-sizing: border-box;
}