<ion-header>
  <ion-toolbar>
    <ion-title>Rumah Sakit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/icon/Pcr.webp"></ion-img>
      </ion-col>
    </ion-row>
  <ion-card>
    <ion-card-header>Rumah Sakit 1</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>Alamat :</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>No.Tlpn :</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>Harga PCR :</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>Waktu :</ion-card-header>
  </ion-card>
  <button>
    BOOKING FOR
  </button>
</ion-grid>

</ion-content>
