<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col *ngIf="authSrv.isLoggedIn === true">
  <ion-grid>
  <ion-item>
    {{ names }}
  </ion-item>
  <ion-item>
    {{ userEmail }}
  </ion-item>
  <ion-item>
    {{ phones }}
  </ion-item>
      <ion-col>
        <ion-img src="https://i.pinimg.com/564x/2a/7f/1b/2a7f1b6d49425e97ff3d73fd7c20074b.jpg"></ion-img>
      </ion-col>
      

      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card *ngFor="let book of databooking"> 
          <ion-grid>
           <ion-row>
            <ion-col>
          <img src="https://www.bintarojaya.id/uploads/news/rspiberita.jpg">
          </ion-col>
          <ion-col>
          <ion-card-header><h1>{{book.rumashsakit}}</h1></ion-card-header>
          <ion-card-content>
            <h1>Tanggal : {{book.tanggal}} <br></h1>
            <h1>Waktu : {{book.waktu}} <br></h1>
            <h1>Waktu Tunggu : 2 Jam <br></h1>
          </ion-card-content>
          </ion-col>
           </ion-row>
         <ion-card color="warning">
           <ion-card-content class="ion-text-center">
             <h1>Status : OnGoing</h1>
            </ion-card-content>
         </ion-card>
        </ion-grid>
      </ion-card>
      </ion-col>
  </ion-grid>
  </ion-col>
</ion-content>
