<ion-header>
  <ion-toolbar>\
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terdekat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid justify-content-center align-items-center>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" shape="round">
        <ion-img  class="image" src="https://www.google.com/maps/d/thumbnail?mid=1Xbkrh789WSsHPBfq4_JpXs5EV2g"></ion-img>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>Rumah Sakit 1</ion-card-header>
            <ion-card-content>
              Alamat : <br>
              Waktu Tunggu :
            </ion-card-content>
          </ion-card>
          <ion-card>
          <ion-card-header>Rumah Sakit 1</ion-card-header>
            <ion-card-content>
              Alamat : <br>
              Waktu Tunggu :
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>

</ion-content>
