<ion-header>
  <ion-toolbar>
    <ion-title>Terdekat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/icon/Pcr.webp"></ion-img>
      </ion-col>
    </ion-row>
  <ion-card>
    <ion-card-header>Rumah Sakit 1</ion-card-header>
    <ion-card-content>
      Alamat : <br>
      Waktu Tunggu :
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Rumah Sakit 1</ion-card-header>
    <ion-card-content>
      Alamat : <br>
      Waktu Tunggu :
    </ion-card-content>
  </ion-card>
  </ion-grid>

</ion-content>
