<ion-header>
  <ion-toolbar>
    <ion-title>Manage My Booking</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <ion-card-content>

    </ion-card-content>
    <ion-button>BATAL</ion-button>
  </ion-card>

</ion-content> -->
<ion-content class="padding has-header" ng-controller="lisCtrl">
  <div class="card list">
    <ion-item class="item-avatar">
      <img src="icon/logo.png">
      <h2>Pemalas</h2>
      <p>Author</p>
    </ion-item>
    <ion-item class="item-body">
      <img class="full-image" src="icon/Pcr.webp">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </ion-item>
    <ion-item class="item-image">
      <p>
        <a class="icon ion-thumbsup subdued"> suka</a>
        <a class="icon ion-android-add subdued"> share</a>
      </p>
    </ion-item>
  </div>
</ion-content>
