<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="terdekat">
      <ion-label color="success">Terdekat</ion-label>
      <ion-icon color="success" name="location-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="managebooking">
      <ion-label color="success">Booking</ion-label>
      <ion-icon color="success" name="pencil-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="main">
      <ion-label color="success">Masuk</ion-label>
      <ion-icon color="success" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-label color="success">History</ion-label>
      <ion-icon color="success" name="copy-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label color="success">Profile</ion-label>
      <ion-icon color="success" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
