<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col *ngIf="authSrv.isLoggedIn === true">
  <ion-row class="ion-justify-content-center">
    <ion-row class="ion-align-items-end ion-justify-content-end">
      <ion-fab-button color="primary" style="position: absolute; z-index: 1" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)">
      <ion-img src="assets/icon/person.webp" style="object-fit: contain" *ngIf="!photo"></ion-img>
      <img id="profilePicture" src="{{photo}}" class="circle-image" *ngIf="photo" (load)="imageLoaded()">
    </ion-row>
  </ion-row>
  <ion-item>
    {{ names }}
  </ion-item>
  <ion-item>
    {{ niks }}
  </ion-item>
  <ion-item>
    {{ address }}
  </ion-item>
  <ion-item>
    {{ userEmail }}
  </ion-item>
  <ion-item>
    {{ phones }}
  </ion-item>
  </ion-col>

  <ion-card>
    <ion-card-content>
      Riwayat Test
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      -
    </ion-card-content>
  </ion-card>

  <ion-button href="home/tabs/profile/edit">
      EDIT PROFILE
  </ion-button>

  <ion-item *ngIf="authSrv.isLoggedIn === false">
    <ion-button type="submit" href="/login">Masuk Sekarang</ion-button>
  </ion-item>


</ion-content>
