ion-card{
    background: #DEFFE5;
    border-radius: 57px;
}
button{
    float: right;
    height: 31px;
    width: 142px;
    left: 236px;
    top: 722px;
    border-radius: 20px;

    background: #ADFD87;
    border: 2px solid #000000;
    box-sizing: border-box;
    }
