<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="https://images.unsplash.com/photo-1503099000678-4f1908f1be2f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max"></ion-img>
    </ion-avatar>
    <ion-label>
      hellopcr
    </ion-label>
    <ion-label>
      1234567890
    </ion-label>
  </ion-item>
  <ion-item>
    Lala Land 163 Jakarta Barat
  </ion-item>
  <ion-item>
    hello@pcallr.com
  </ion-item>
  <ion-item>
    087823458901
  </ion-item>

  <ion-card>
    <ion-card-content>
      Riwayat Test
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      1-11-2020   NEGATIF
    </ion-card-content>
  </ion-card>

  <button href="home/tabs/profile/edit">
      EDIT PROFILE
  </button>


</ion-content>
